<div class="content" style="width: 100%">
  <div class="top-heading">
    <p><i class="fa-solid fa-bug"></i>ALL SCANS</p>
  </div>
  <div class="container-fluid">
    <div class="table-user m-5">
      <table class="table table-bordered table-hover text-center">
        <thead class="table-dark">
          <tr>
            <th>team member</th>
            <th>scan name</th>
            <th>discription</th>
            <th>template</th>
            <th>report</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</div>
