<div class="content" style="width: 100%">
  <div class="top-heading">
    <p><i class="fa-solid fa-circle-info"></i>VERSION INFO</p>
  </div>
  <div class="container-fluid">
    <div class="version-info m-5">
      <pre>
        NSREP is a Network Scanning and Reporting System or Tool, that helps the network penetration testing and create reports according to the 
        details found in the scanning. This project is based on the scanning phase in the ethical hacking phases.NSREP network scanning and reporting 
        system is working along with a well-known network scanning tool called Nmap. This allows the team lead to monitor the activities history 
        of the other team members.
      </pre>
    </div>
  </div>
</div>
