<!-- side bar -->
<div class="side-bar" id="mySidebar">
  <div class="items">
    <p class="Options text-dark">SCANNERS</p>
    <a href="{% url 'dashboard' %}" class="item text-dark">Scan Templates</a>
    <br /><br />
    <a href="{% url 'reports' %}" class="item text-dark">Reports</a>
    <br /><br />
    <p class="Options text-dark">FOLDERS</p>
    <a href="{% url 'my-scans' %}" class="item text-dark">My Scans</a>
    <br /><br />
    <a href="{% url 'all-scans' %}" class="item text-dark">All Scans</a>
    <br /><br />
    <p class="Options text-dark">TEAM</p>
    <a href="{% url 'view-user' %}" class="item text-dark">Members</a>
    <br /><br />
    <a href="{% url 'add-user' %}" class="item text-dark">Add Member</a>
    <br /><br />
    <p class="Options text-dark">SETTINGS</p>
    <a href="{% url 'profile' %}" class="item text-dark">Profile</a>
    <br /><br />
    <a href="{% url 'info' %}" class="item text-dark">Version Info</a>
    <br /><br />
    <br /><br />
    <button class="item btn btn-sm btn-primary">Logout</button>
    <br /><br />
  </div>
</div>
