<div class="content" style="width: 100%">
  <div class="top-heading">
    <p><i class="fa-solid fa-viruses"></i>MY SCANS</p>
  </div>
  <div class="container-fluid">
    <!-- DataTables -->
    <div class="card shadow m-3 bg-light">
      <div
        class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
      >
        <h6 class="m-0 font-weight-bold text-primary">My Scan Reports</h6>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table
            class="table table-bordered"
            id="dataTable"
            width="100%"
            cellspacing="0"
          >
            <thead>
              <tr>
                <th>ID</th>
                <th>Date</th>
                <th>Scan Name</th>
                <th>Description</th>
                <th>Template</th>
                <th>Report</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>2022/11/02</td>
                <td>Basic scan</td>
                <td>Basic scanning to the device</td>
                <td>Basic Network Scan</td>
                <td>Not Generated</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
