<div class="content" style="width: 100%">
  <div class="top-heading">
    <p>VIEW MEMBERS</p>
  </div>
  <div class="container-fluid">
    <div class="table-user card m-5">
      <table class="table table-primary">
        <thead>
          <tr>
            <th>id</th>
            <th>profile pic</th>
            <th>username</th>
            <th>email</th>
            <th>update</th>
            <th>remove</th>
          </tr>
          {% for data in users %}
          <tr>
            <td>{{data.id}}</td>
            <td>{{data.last_login}}</td>
            <td>{{data.username}}</td>
            <td>{{data.email}}</td>
            <td><button class="btn btn-success">edit</button></td>
            <td><button class="btn btn-danger">delete</button></td>
          </tr>
          {% endfor %}
        </thead>
      </table>
    </div>
  </div>
</div>
